body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.game-area td {
  position: relative;
  height: 25px;
  width: 25px;
  border: 1px solid #888;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  vertical-align: middle;
}
.game-area td:hover {
  background-color: #fcc;
}
.game-area .revealed {
  background-color: #eee;
  border: 1px solid #eee;
}
.game-area .revealed:hover {
  background-color: #eee;
}
.game-area .bomb {
  background-color: #000;
  color: white;
}
.game-area .bomb:hover {
  background-color: #000;
}
.game-area .bomb.hit {
  background-color: #f00;
}
.game-area .bomb.hit:hover {
  background-color: #f00;
}
.game-area .flag {
  background-color: #fc5;
}
.game-area .flag:hover {
  background-color: #fc5;
}
.game-area {
  background-color: #aaa;
  border-collapse: collapse;
  margin: 20px auto;
  padding: 0;
}
.fail {
  background-color: #faa;
}
.win {
  background-color: #afa;
}
.game-area .middle-click-shadow::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #5aa;
    opacity: 0.3;
}